*{box-sizing: border-box;
font-family: 'Monomaniac One', sans-serif;
}
body{
  margin: auto auto;
  
}

.Boton{
  padding: 15px 20px;
  cursor: pointer;
  outline: none;
  color:black;
  background-color: #FF6100;
  border-radius: 15px;
  transition: font-size 0.3s ease;

}
.Boton:hover{
font-size: 20px;
}

.Boton:artive{
  background-color: black;
  transform: translateY(10px);
  }

  .cajalogo{
  background-color: #FF6100;
  border-radius: 15px;
  width: 122px;
  height: 44px;
  float: right;

}
.cajalogo2{
  height:75px ;
  width: 283px;
  border: transparent;
  text-align: center;
  margin-left:515px;
}

.h1White{
color: white;
text-align: center;
width: 161px;
height: 40px;
float: right;
}
.h1Black{
  color: black;
  text-align: center;
  margin-inline-end: 390px;
}
.header {
  display: flex;
  width: 140%;
  padding-top: 43px;
  padding-right: 46%;
  padding-left: 40px;
  padding-bottom: 69px;
  text-align: center;
  justify-content: flex-end;
    
}
.contenedor{
    display: flex;
    border: white 5px solid;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin: 10px auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

  
}
.texto{
  color: white;
text-align: center;
}
.Mifooter{
    align-content: center;
  border: white 5px solid;
  padding: 10px;
  height: 150px;
    }
