*{box-sizing: border-box;
font-family: 'Monomaniac One', sans-serif;
}
body{
  margin: auto auto;

}
.Boton{
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color:black;
  background-color: #FF6100;
  border-radius: 15px;
  transition: font-size 0.3s ease
}
.Boton:hover{
font-size: 20px;
}

.Boton:artive{
	background-color: black;
	transform: translateY(10px);
}
.h1{
  color: white;
}
h2{
  color: white;
}
.header {
  display: flex;
  width: 140%;
  padding-top: 43px;
  padding-right: 46%;
  padding-left: 40px;
  padding-bottom: 69px;
  text-align: center;
  justify-content: flex-end;
    
}
.contenedor{
  
  height: 900px;
  width: 840px;
  margin: 10px auto;
  border: transparent;
}
.cajaInLaPl{
  height: 100;
  width: 300px;
  border: white 5px solid;
  text-align: center;
  float: left;
 
}
.cajaInCoPl{
  height: 100;
  width: 300px;
  border: white 5px solid;
  text-align: center;
  float: right;
}
.cajalogo{
  background-color: #FF6100;
  border-radius: 15px;
  width: 90px;
  height: 45px;
  float: right;


}
.cajalogo2{
  height:85px ;
  width: 230px;
  border: transparent;
  text-align: center;
  margin-left:515px;
}

.h1White{
color: white;
text-align: center;
width: 85px;
height: 50px;
float: right;
}
.h1Black{
  color: black;
  text-align: center;
  margin-inline-end: 390px;
}
.texto{
  color: white;
  text-align: center;
     

}
.Mifooter{
    align-content: center;
  border: white 5px solid;
  padding: 10px;
  height: 150px;
    }